<!-- Header Begin -->
<link href="/sCSS/28.0/sprites/1371760580000/Theme3/default/base/zen-componentsCompatible.css" rel="stylesheet" type="text/css"/>
<link href="/sCSS/28.0/sprites/1371760580000/Theme3/default/base/elements.css" rel="stylesheet" type="text/css"/>
<link href="/sCSS/28.0/sprites/1371760580000/Theme3/default/base/common.css" rel="stylesheet" type="text/css"/>
<link href="/sCSS/28.0/sprites/1371760580000/Theme3/default/base/rlHovers.css" rel="stylesheet" type="text/css"/>
<link href="/sCSS/28.0/sprites/1371760580000/Theme3/default/base/ChatterFiles.css" rel="stylesheet" type="text/css"/>
<link href="/sCSS/28.0/sprites/1371760580000/Theme3/default/base/chatterCore.css" rel="stylesheet" type="text/css"/>
<link href="/sCSS/28.0/sprites/1371760580000/Theme3/default/base/chatterExtended.css" rel="stylesheet" type="text/css"/><link href="/sCSS/28.0/sprites/1371760580000/Theme3/base/dStandard.css" rel="stylesheet" type="text/css"/><link href="/sCSS/28.0/sprites/1371760580000/Theme3/00D7000000096q0/00570000001vbZR/base/dCustom0.css" rel="stylesheet" type="text/css"/><link href="https://na5.salesforce.com/sCSS/28.0/sprites/1371760580000/Theme3/default/base/extended.css" rel="stylesheet" type="text/css"/>
<link href="https://na5.salesforce.com/sCSS/28.0/sprites/1371760580000/Theme3/default/base/zen-componentsCompatible.css" rel="stylesheet" type="text/css" /><style  type="text/css">

body {
	font-family:Verdana, Geneva, sans-serif;
	background-color: #71637b !important;
}

.mouseOverInfo { top: auto; bottom: 2px }

.tabNavigation {
	background:none!;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color:#e8e8e8;
	background-image:none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
	border-top-color: #56458c;
	padding-top:3px;
}

.bodyDiv {
	margin-top:-20px;
	font-size:12px !important;

}

#tabBar div, #tabBar td {
	background:none !important;
	border-bottom:0px;
	height:25px !important;
}

#tabBar div {
	padding-top:8px;
}

#tabBar td div a {
	font-size: 1.2em !important;
  	color: #353535 !important;
  	font-weight: bold !important;
}
#tabBar td.currentTab {
	background: url(https://c.na5.content.force.com/servlet/servlet.ImageServer?id=01570000001scSe&oid=00D7000000096q0&lastMod=1365532166000) no-repeat top left !important;
}

#tabBar td.currentTab a{
	color:#fff !important;
	margin-right:8px;
	margin-top:4px;
}

#tabBar td.currentTab div {
	background: url(https://c.na5.content.force.com/servlet/servlet.ImageServer?id=01570000001scT8&oid=00D7000000096q0&lastMod=1365532338000) no-repeat top right !important;
	margin-left:3px;
}

#tabBar {
	height:25px !important;
}

#noTableContainer {
	padding-left:10px;
	padding-top:30px;
}

.sidebarModuleBody {
	background-color:#e8e8e8 !important;
}

.brdPalette, .bPageBlock, .bSubBlock {
  border-top-color: #49176d !important;
}
.bPageBlock, .pbBody, .pbSubheader{
	border-top-color: #49176d !important;
}

#sidebarDiv .menuButton, #sidebarDiv .sidebarModuleHeader {
	background-image:url("https://c.na5.content.force.com/servlet/servlet.ImageServer?id=01570000001sdnE&oid=00D7000000096q0&lastMod=1365536741000") !important;
	background-color:#49176d !important;  
}
#createNewMenu a:hover {
	background:#f6f6f6 !important;
}
#createNewMenu {
	border-color: #49176d !important;
}
select, input {
	padding:5px;
}
</style>
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="tbHeaderLogo">
<tr>
<td class="left"><img src="https://c.na5.content.force.com/servlet/servlet.ImageServer?id=01570000001sYf9&oid=00D7000000096q0&lastMod=1365194761000" alt="K12">
</td>
 <td><img src="/s.gif" alt="" width="1" height="1" class="spacer" title="" />
</td>
 <td class="right vtop"><div class="multiforce navLinks linkElements btnHeaderLogOut"><a href="/secur/logout.jsp" title="Logout">Logout</a>
</div>
</td>
</tr>
</table>
</div>
<!-- Header End -->