<apex:page standardController="Account" docType="html-5.0" standardStylesheets="false" title="{!$Label.sbqq__lbl_asset_selection}">
    <link rel="shortcut icon" href="{!URLFOR($Resource.sbFavicon)}" />
    <script src="/soap/ajax/31.0/connection.js" type="text/javascript"></script>
    <script src="/soap/ajax/31.0/apex.js" type="text/javascript"></script>
    <script type="text/javascript" src="{!$Resource.jQuery}"></script>
    <script type="text/javascript" src="{!$Resource.jQueryUI}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.AngularJS,'angular.min.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.AngularJS,'angular-sanitize.min.js')}"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.AngularJS,'/i18n/angular-locale_en-us.js')}"></script>
    <script type="text/javascript" src="{!$Resource.AngularDnD}"></script>
	<script type="text/javascript" src="{!$Resource.UIBootstrap}"></script>
	<script type="text/javascript" src="{!$Resource.Directives}"></script>
    <script type="text/javascript" src="{!$Resource.UI}"></script>
    <script type="text/javascript" src="{!$Resource.WebUI}"></script>
    <script type="text/javascript" src="{!$Resource.RemotingServiceProxies}"></script>
    <script type="text/javascript" src="{!$Resource.InfiniteScroll}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var quoteName = '{!JSENCODE($CurrentPage.name)}';
            var namespace = (quoteName.toLowerCase().substring(0,4) == 'sbqq') ? 'SBQQ' : '';
            qqBootstrapWeb({namespace:namespace,sessionId:'{!JSENCODE($API.Session_ID)}'});
            document.getElementById('qq').style.display = 'block';
        });
    </script>

    <div id="qq" style="display: none"> 
        <apex:outputPanel rendered="{!ISBLANK($CurrentPage.parameters.isAmend)}">
            <div id="mainContent" rendered="">
                <form id="mainForm" name="mainForm">
                    <c:assetLookup headerTitle="{!$Label.sbqq__lbl_asset_selection}" headerSubtitle="{!Account.Name}" accountId="{!Account.Id}" assetFromAccount="true" assetAmend="false"/>
                </form>
            </div>
        </apex:outputPanel>
        <apex:outputPanel rendered="{!NOT(ISBLANK($CurrentPage.parameters.isAmend))}">
            <div id="mainContent" rendered="">
                <form id="mainForm" name="mainForm">
                    <c:assetLookup headerTitle="{!$Label.sbqq__lbl_asset_selection}" headerSubtitle="{!Account.Name}" accountId="{!Account.Id}" assetFromAccount="true" assetAmend="true"/>
                </form>
            </div>
        </apex:outputPanel>
    </div>
</apex:page>