<apex:page standardController="Account" extensions="SBQQ.ContractSelectorController" docType="html-5.0" standardStylesheets="false" title="{!$Label.sbqq__lbl_contract_selector}">
    <link rel="shortcut icon" href="{!URLFOR($Resource.sbFavicon)}" />
	<apex:stylesheet value="{!$Resource['sb']}"/>
	<c:theme />
	<div id="sbSelectContract" class="sb">
		<apex:form >
			<c:pageHeader title="Active Contract Selection" subtitle="{!account.Name}" iconName="sf-icon-contract-1">
				<div class="sbButtons">
		          	<apex:commandButton styleClass="sbBtn" action="{!onAction}" value="Select"/>
		          	<apex:commandButton styleClass="sbBtn" action="{!onSkipAction}" value="Skip"/>
					<apex:commandButton styleClass="sbBtn" action="{!onCancel}" value="Cancel"/>
		        </div>
			</c:pageHeader>
			<div class="sbBody">
        		<div class="sbPageBlockSection">
        			<apex:pageMessages />
					<apex:inputHidden id="selectedContractId" value="{!selectedContractId}"/>
					<c:pageBlockSection title="Select Contract">
						<table class="sbTable" border="0" cellspacing="0" cellpadding="0" width="100%">
							<thead class="dr-table-thead">
								<tr class="headerRow">
									<th class="headerRow">&nbsp;</th>
									<apex:repeat var="field" value="{!$ObjectType.Contract.FieldSets.SBQQ__ActiveContractLookup}">
										<th class="headerRow">
											<apex:outputText value="{!$ObjectType.Contract.Fields[field].label}"/>
										</th>
									</apex:repeat>
								</tr>
							</thead>
							<tbody>
								<apex:repeat id="contracts" var="contract" value="{!contracts}">
									<tr class="dataRow">
										<td class="dataCell">
											<input type="radio" name="contractSelector" value="{!contract.record.Id}" onclick="document.getElementById('{!JSENCODE($Component.selectedContractId)}').value = this.value"/>
										</td>
										<apex:repeat var="field" value="{!$ObjectType.Contract.FieldSets.SBQQ__ActiveContractLookup}">
											<td class="dataCell">
												<apex:outputField value="{!contract.record[field]}" />
											</td>
										</apex:repeat>
									</tr>
								</apex:repeat>
							</tbody>
						</table>
					</c:pageBlockSection>
	        	</div>
		    </div>
		</apex:form>
	</div>
</apex:page>