<apex:page standardController="SBQQ__Theme__c" extensions="SBQQ.ThemeSettingsController" standardStylesheets="false">
	<script type="text/javascript" src="{!$Resource.WebUI}"></script>
	<script type="text/javascript" src="{!$Resource.jQuery}"></script>
	<script type="text/javascript" src="{!$Resource.jQueryUI}"></script>
    <script type="text/javascript" src="{!$Resource.Spectrum}"></script>
    <script type="text/javascript" src="{!$Resource.Less}"></script>
	<script type="text/javascript" src="{!$Resource.ThemeEditorUI}"></script>
    <apex:stylesheet value="{!$Resource['sb']}"/>
    <link rel="stylesheet" type="text/css" href="{!$Resource.SpectrumStyle}"></link>
    <div class="styleSheet">
	    <c:container bodyRendered="{!NOT(SBQQ__Theme__c.SBQQ__DocumentId__c='')}">
			<apex:stylesheet value="/servlet/servlet.FileDownload?file={!SBQQ__Theme__c.SBQQ__DocumentId__c}" />
		</c:container>
	</div>
    <div id="qq" class="sb">
		<div id="mainContent">
			<apex:form >
				<div class="themePage">
					<c:pageHeader subtitle="{!SBQQ__Theme__c.Name}" title="SteelBrick Theme">
						<div class="sbButtons">
					 		<input type="button" class="sbBtn" value="Preview" onclick="compileLess('preview');"/>
					 		<input type="button" class="sbBtn" value="Publish" onclick="compileLess('publish');"/>
						</div>
						<div class="sbButtons">
              <apex:commandButton styleClass="sbBtn" action="{!list}" value="{!$Label.sbqq__lbl_cancel}"/>
					 		<input type="button" class="sbBtn" value="Revert" onclick="revert()"/>
						</div>
					</c:pageHeader>
					<div class="content">
						<apex:pageMessages />
				 		<div class="themeHeader"><h3>
				 			Header
				 		</h3></div>
				 		<div class ="colorPickWrapper">
							<span>Header Color</span><apex:inputField styleClass="theme headerColor" value="{!SBQQ__Theme__c.SBQQ__HeaderColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Secondary Header Color</span><apex:inputField styleClass="theme secondaryHeaderColor" value="{!SBQQ__Theme__c.SBQQ__SecondaryHeaderColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Header Border Color</span><apex:inputField styleClass="theme headerBorderColor" value="{!SBQQ__Theme__c.SBQQ__HeaderBorderColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Header Font Color</span><apex:inputField styleClass="theme headerFontColor" value="{!SBQQ__Theme__c.SBQQ__HeaderFontColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Header Supporting Font Color</span><apex:inputField styleClass="theme headerSecondaryFontColor" value="{!SBQQ__Theme__c.SBQQ__HeaderSecondaryFontColor__c}"/>
						</div>
				 		<div class="themeHeader"><h3>
				 			General
				 		</h3></div>
				 		<div class ="colorPickWrapper">
							<span>General Background Color</span><apex:inputField styleClass="theme generalColor" value="{!SBQQ__Theme__c.SBQQ__GeneralColor__c}"/>
						</div>
				 		<div class ="colorPickWrapper">
							<span>Detail Background Color</span><apex:inputField styleClass="theme detailColor" value="{!SBQQ__Theme__c.SBQQ__DetailColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>General Font Color</span><apex:inputField styleClass="theme generalFontColor" value="{!SBQQ__Theme__c.SBQQ__GeneralFontColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Secondary Font Color</span><apex:inputField styleClass="theme generalFontSecondaryColor" value="{!SBQQ__Theme__c.SBQQ__SecondaryFontColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>General Border Color</span><apex:inputField styleClass="theme generalBorderColor" value="{!SBQQ__Theme__c.SBQQ__GeneralBorderColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Tab Selected Color</span><apex:inputField styleClass="theme tabSelectedColor" value="{!SBQQ__Theme__c.SBQQ__TabSelectedColor__c}"/>
				 		</div>
				 		<div class="themeHeader"><h3>
				 			Group Buttons
				 		</h3></div>
				 		<div class ="colorPickWrapper">
							<span>Group Button Color</span><apex:inputField styleClass="theme groupButtonColor" value="{!SBQQ__Theme__c.SBQQ__GroupButtonColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Group Button Border Color</span><apex:inputField styleClass="theme groupButtonBorderColor" value="{!SBQQ__Theme__c.SBQQ__GroupButtonBorderColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Group Button Font color</span><apex:inputField styleClass="theme groupButtonFontColor" value="{!SBQQ__Theme__c.SBQQ__GroupButtonFontColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Group Button Hover Color</span><apex:inputField styleClass="theme groupButtonHoverColor" value="{!SBQQ__Theme__c.SBQQ__GroupButtonHoverColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Group Button Hover Font Color</span><apex:inputField styleClass="theme groupButtonHoverFontColor" value="{!SBQQ__Theme__c.SBQQ__GroupButtonHoverFontColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Group Button Disabled Font Color</span><apex:inputField styleClass="theme groupButtonDisabledFontColor" value="{!SBQQ__Theme__c.SBQQ__GroupButtonDisabledFontColor__c}"/>
				 		</div>
				 		<div class="themeHeader"><h3>
				 			Table
				 		</h3></div>
						<div class ="colorPickWrapper">
							<span>Table Header Font Color</span><apex:inputField styleClass="theme tableHeaderFontColor" value="{!SBQQ__Theme__c.SBQQ__TableHeaderFontColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Table Row Hover Color</span><apex:inputField styleClass="theme tableRowHoverColor" value="{!SBQQ__Theme__c.SBQQ__TableRowHoverColor__c}"/>
				 		</div>
				 		<div class="demoItems">
				 			<div>Preview Area</div><br/>
					 		<table class="sbTable">
					 			<thead>
					 				<tr>
					 					<th>
					 						Table Header
					 					</th>
					 					<th></th>
					 					<th></th>
					 				</tr>
					 			</thead>
					 			<tbody>
						 			<tr>
						 				<td>
						 					Sample Text
						 				</td>
						 				<td>
						 					Sample Text
						 				</td>
						 				<td>
						 					Sample Text
						 				</td>
						 			</tr>
						 			<tr>
						 				<td>
						 					Sample Text
						 				</td>
						 				<td>
						 					Sample Text
						 				</td>
						 				<td>
						 					Sample Text
						 				</td>
						 			</tr>
						 		</tbody>
					 		</table>
					 	</div>
				 		<div class="themeHeader"><h3>
				 			Primary Buttons
				 		</h3></div>
				 		<div class ="colorPickWrapper">
							<span>Primary Button Color</span><apex:inputField styleClass="theme primaryButtonColor" value="{!SBQQ__Theme__c.SBQQ__PrimaryButtonColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Primary Button Font Color</span><apex:inputField styleClass="theme primaryButtonFontColor" value="{!SBQQ__Theme__c.SBQQ__PrimaryButtonFontColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Primary Button Hover Color</span><apex:inputField styleClass="theme primaryButtonHoverColor" value="{!SBQQ__Theme__c.SBQQ__PrimaryButtonHoverColor__c}"/>
						</div>
						<div class="demoItems">
							<div>Preview Area</div><br/>
							<input type="button" class="sbBtn sbPrimaryAction" value="Sample"/>
						</div>
				 		<div class="themeHeader"><h3>
				 			Icons
				 		</h3></div>
				 		<div class ="colorPickWrapper">
							<span>Icon Font Color</span><apex:inputField styleClass="theme iconFontColor" value="{!SBQQ__Theme__c.SBQQ__IconFontColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Accent Icont Font Color</span><apex:inputField styleClass="theme accentIconFontColor" value="{!SBQQ__Theme__c.SBQQ__AccentIconFontColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Accent Icon Hover Font Color</span><apex:inputField styleClass="theme accentIconHoverFontColor" value="{!SBQQ__Theme__c.SBQQ__AccentIconHoverFontColor__c}"/>
						</div>
						<div class ="colorPickWrapper">
							<span>Accent Icon Disabled Font Color</span><apex:inputField styleClass="theme accentIconDisabledFontColor" value="{!SBQQ__Theme__c.SBQQ__AccentIconDisabledFontColor__c}"/>
						</div>
						<div class="demoItems">
						<div>Preview Area</div><br/>
							Normal<i class="sf-icon-copy normal"></i>
							Accent<i class="sf-icon-copy accent"></i>
							Disabled<i class="sf-icon-copy disabled"></i>
						</div>
						<!--Element to hold LessTheme.Resource for ease of use when compiling-->
						<div id="themeLess" style="display:none;">
							{!themeLess}
						</div>
						<!--Hidden Command Button for asynchronous javascript hack -->
						<apex:commandButton styleClass="backgroundHide hiddenPublish" action="{!publish}" value="Publish"/>
						<!--Style element which the preview will be compiled to-->
						<style>
						</style>
						<!--Hidden Form Inputs-->
				 		<apex:inputField styleClass="backgroundHide themeDocId" value="{!SBQQ__Theme__c.SBQQ__DocumentId__c}"/>
				 		<apex:inputField styleClass="backgroundHide themeName" value="{!SBQQ__Theme__c.name}"/>
				 		<apex:inputText styleClass="backgroundHide compiledCSS" value="{!SBQQ__Theme__c.SBQQ__CompiledCSS__c}"></apex:inputText>
				 		<!--Default Divs Containing Default Class Colors To Pull in Default Values-->
				 		  <div class="sbHeaderBgColor"></div>
				 		  <div class="sbHeaderSecondaryBgColor"></div>
						  <div class="sbHeaderBorderColor"></div>
						  <div class="sbHeaderFontColor"></div>
						  <div class="sbHeaderSupportFontColor"></div>
						  <div class="sbBgColor"></div>
						  <div class="sbDetailBgColor"></div>
						  <div class="sbFontColor"></div>
						  <div class="sbSecondaryFontColor"></div>
						  <div class="sbBorderColor"></div>
						  <div class="sbTableHeaderFontColor"></div>
						  <div class="sbTableRowHoverColor"></div>
						  <div class="sbGroupBtnBgColor"></div>
						  <div class="sbGroupBtnBorderColor"></div>
						  <div class="sbGroupBtnFontColor"></div>
						  <div class="sbGroupBtnHoverBgColor"></div>
						  <div class="sbGroupBtnHoverFontColor"></div>
						  <div class="sbGroupBtnDisabledFontColor"></div>
						  <div class="sbPrimaryBtnBgColor"></div>
						  <div class="sbPrimaryBtnFontColor"></div>
						  <div class="sbPrimaryBtnHoverBgColor"></div>
						  <div class="sbAccentIconColor"></div>
						  <div class="sbAccentIconHoverColor"></div>
						  <div class="sbAccentIconDisabledColor"></div>
						  <div class="sbIconColor"></div>
						  <div class="sbTabSelectedColor"></div>
				 		<!--bottom padding-->
						<div class="bottomPadding">
						</div>
					</div>
				</div>
			</apex:form>
		</div>
	</div>
	<script>
		handleFixedPageHeader();
		$(window).load( function() {
			$(window).scroll();
		});
	</script>
</apex:page>