<apex:page standardController="invoiceit_s__Payment__c" extensions="invoiceit_s.ControllerAllocatePayments" tabStyle="invoiceit_s__Payment__c">
          <apex:includeScript value="{!URLFOR($Resource.invoiceit_s__jQuery, 'js/jquery-1.5.1.min.js')}" />
          <apex:includeScript value="{!URLFOR($Resource.invoiceit_s__jQuery, 'js/jquery-ui-1.8.14.custom.min.js')}" />
          <apex:stylesheet value="{!URLFOR($Resource.invoiceit_s__jQuery,'css/smoothness/jquery-ui-1.8.14.custom.css')}"/>
         <script>
          function confirmCancel() {
              if (confirm("{!JSENCODE($Label.CancellingthiswoulddiscardthechangesPleaseconfirm)}")) 
              {
                  return true;
              }
              return false;
          }
          
          function confirmDelete(paymentAllocationId, invoice, Amount) {
              if (confirm("{!JSENCODE($Label.PaymentPageCancel_Message)}")) 
              {
                  cancelPaymentAllocation(paymentAllocationId);
                  return true;
              }
             
              return false;
          }
              var isSaving;
              isSaving = false;
              $j = jQuery.noConflict();
             function disableBtn() {
                  isSaving = true;
                  $j('.disablebutton').addClass('btnDisabled');
                  $j('.disablebutton').attr({value:'Saving...',disabled:'disabled'});
                  $j('.disablebuttonSave').addClass('btnDisabled');
                  $j('.disablebuttonSave').attr('value','Saving...');
                  
              }
         </script>     
         <apex:sectionHeader title="{!$Label.PaymentPageHeader}" subtitle="{!$Label.PaymentPageSubTitle}" />
         <apex:outputField value="{!payment.Account__r.Id}" rendered="false" />
         <apex:form id="form">
          <div class="bPageTitle">
              <div class="ptBreadcrumb"> 
                  <a href="/{!HTMLENCODE(payment.id)}">Back to payment : {!HTMLENCODE(payment.Name)}</a>
              </div>
          </div>
         <apex:pageMessages id="messages"/>
         <apex:actionFunction action="{!getSelectedInvoice}" name="getSelectedInvoice" reRender="allocationSection,theBlock,allocationSection2" status="status">
             <apex:param value="" name="selectedCounter"/>
         </apex:actionFunction>  
        
         <apex:actionstatus id="status">
                  <apex:facet name="start">
                      <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                             height: 100%;opacity:0.65;width:100%;"> 
                          <div class="waitingHolder" style="center: 74.2px; width: 91px;">
                              <img class="waitingImage" src="/img/loading32.gif" title="Please Wait..." />
                              <span class="waitingDescription">Please Wait...</span>
                          </div>
                      </div>
                  </apex:facet>
        </apex:actionstatus>        
         <apex:actionFunction action="{!cancelPaymentAllocation}" name="cancelPaymentAllocation" reRender="mainBlock" status="status">
          <apex:param name="paymentAllocationId" value=""/>
         </apex:actionFunction>                                    
         <apex:pageBlock id="mainBlock" rendered="{!payment.invoiceit_s__Unallocated_Amount__c > 0}">
           <apex:pageBlockButtons location="bottom">
                 <!--Done by Asish Kumar Behera on 28-02-2014 for INVOICEIT-320
                  Comments        : previously when user clicks twice on the button it creates two invoices, 
                                    disable the button when user click on button -->
                 <!--Done by Rama Krishna.v on 4-4-2014 for INVOICEIT-320
                 Comments        : added style classes to below buttons to disableof onclick.-->
              <apex:actionStatus id="saveStatus">
                  <apex:facet name="stop">
                      <apex:commandButton value="{!$Label.ButtonSave}" action="{!savePaymentAllocations}" rendered="{!payment.invoiceit_s__Unallocated_Amount__c != 0}" reRender="messages,mainBlock" status="saveStatus" onclick="disableBtn();"  styleClass="disablebutton"/>
                  </apex:facet>
                  <apex:facet name="start">
                      <apex:commandButton value="Saving..." disabled="true" status="saveStatus"/>
                  </apex:facet>             
              </apex:actionStatus>
              
              <apex:commandButton value="{!$Label.ButtonCancel}" onclick="return confirmCancel()" immediate="true" action="{!cancelPayment}" rendered="{!payment.invoiceit_s__Unallocated_Amount__c != 0}" styleClass="disablebutton"  />
              <apex:commandButton value="{!$Label.ButtonBackToPayment}" action="{!backToPayment}" rendered="{!payment.invoiceit_s__Unallocated_Amount__c == 0}"/>
           </apex:pageBlockButtons>
           
           <apex:pageBlockSection title="{!$Label.PaymentPagePBTitleDetails}" columns="2" >
              <!--INVOICEIT-666, created fieldset for payment object, Added by DL -->
              <apex:repeat value="{!$ObjectType.invoiceit_s__Payment__c.FieldSets.invoiceit_s__Payment_Allocation_Wizard_Fields}" var="fieldAPI">
                <apex:outputField value="{!payment[fieldAPI]}"/>
              </apex:repeat>
            </apex:pageBlockSection><br/>
            <apex:pageBlockSection title="{!$Label.PaymentPagePBTitleAllocations}" columns="1" collapsible="false" rendered="{!isPaymentAllocationsExists}">
              <!--INVOICEIT-666, created fieldset for payment allocation object, Added by DL -->
                <apex:pageBlock >
                    <table cellspacing="0" cellpadding="0" border="0" class="list">
                        <thead class="rich-table-thead">
                              <tr class="headerRow"> 
                              <th colspan="1" scope="col" class="headerRow">
                                <div>
                                </div>
                              </th>
                               <apex:repeat value="{!$ObjectType.invoiceit_s__Payment_Allocation__c.FieldSets.invoiceit_s__Payment_Allocation_Wizard_Fields}" var="fieldAPI">
                                  <th colspan="1" scope="col" class="headerRow">
                                      <div>
                                          {!HTMLENCODE(fieldAPI.Label)}
                                      </div>
                                  </th> 
                               </apex:repeat>
                             </tr>
                        </thead>
                        <tbody>
                            <apex:repeat value="{!listOfPaymentAllocationsInDb}" var="paymentAllocation" rendered="{!isPaymentAllocationsExists}">
                                <tr>
                                  <td colspan="1" class="dataCell">
                                      <apex:commandLink styleClass="btn" value="{!$Label.ButtonCancel}" rendered="{!paymentAllocation.invoiceit_s__Status__c == 'Completed'}" reRender="messages,mainBlock,form" onclick="return confirmDelete('{!paymentAllocation.Id}','{!paymentAllocation.invoiceit_s__Invoice__c}','{!paymentAllocation.invoiceit_s__Amount__c}');" />
                                  </td>
                                  <apex:repeat value="{!$ObjectType.invoiceit_s__Payment_Allocation__c.FieldSets.invoiceit_s__Payment_Allocation_Wizard_Fields}" var="fieldAPI">
                                    <td colspan="1" class="dataCell">
                                        <apex:outputField value="{!paymentAllocation[fieldAPI]}"/> 
                                    </td>
                                  </apex:repeat> 
                                </tr> 
                            </apex:repeat>
                        </tbody>
                    </table>
                </apex:pageBlock>
            </apex:pageBlockSection>
             
            <apex:pageBlockSection title="{!$Label.PaymentPagePBTitleUnpaidInvoices}" columns="1" collapsible="false" >
            <!--INVOICEIT-666, created fieldset for Invoice object, Added by DL -->
            <apex:pageBlock id="theBlock">
              <table cellspacing="0" cellpadding="0" border="0" class="list">
                <thead class="rich-table-thead">
                    <tr class="headerRow"> 
                      <th colspan="1" scope="col" class="headerRow">
                        <div>
                        </div>
                      </th>
                       <apex:repeat value="{!$ObjectType.invoiceit_s__Invoice__c.FieldSets.invoiceit_s__Payment_Allocation_Wizard_Fields}" var="fieldAPI">
                          <th colspan="1" scope="col" class="headerRow">
                              <div>
                                  {!HTMLENCODE(fieldAPI.Label)}
                              </div>
                          </th> 
                       </apex:repeat>
                       <td>Payment Amount</td>
                    </tr>
                </thead>
                <tbody>
                    <apex:repeat value="{!map_Counter_allocationClass}" var="counter" id="allocationSection2" rendered="{!isUnpaidInvoicesExists}">
                        <tr>
                          <td colspan="1" class="dataCell">
                            <apex:inputCheckbox value="{!map_Counter_allocationClass[counter].isChecked}" onclick="getSelectedInvoice('{!map_Counter_allocationClass[counter].counter}')"/>
                          </td>
                          <apex:repeat value="{!$ObjectType.invoiceit_s__Invoice__c.FieldSets.invoiceit_s__Payment_Allocation_Wizard_Fields}" var="fieldAPI">
                            <td colspan="1" class="dataCell">
                                <apex:outputLink value="/{!map_Counter_allocationClass[counter].invoice.id}" id="theLink" rendered="{!fieldAPI == 'Name'}">{!map_Counter_allocationClass[counter].invoice.Name}</apex:outputLink>  
                              
                                <apex:outputField value="{!map_Counter_allocationClass[counter].invoice[fieldAPI]}" rendered="{!fieldAPI != 'Name'}"/> 
                            </td>
                          </apex:repeat>  
                          <td>
                            <apex:outputField value="{!map_Counter_allocationClass[counter].paymentAllocation.Amount__c}" rendered="{!!map_Counter_allocationClass[counter].isChecked}"/>
                            <apex:inputField value="{!map_Counter_allocationClass[counter].paymentAllocation.Amount__c}" rendered="{!map_Counter_allocationClass[counter].isChecked}"/>
                          </td>
                        </tr>
                    </apex:repeat>
                </tbody>
              </table>
            </apex:pageBlock>
            <apex:outputText rendered="{!!isUnpaidInvoicesExists}" value="{!$Label.PaymentPagePaymentDoneInfo}"/>
           </apex:pageBlockSection>   
                   
            <!--Done by Manigandan.SA on Dec 9, 2015 for INVOICEIT-638
             Comments: All the Payment Plan Installments under the account should have the provision for its payment.-->
            <apex:pageBlockSection title="{!$Label.PaymentPagePBTitlePaymentPlanInstallment}" columns="1" collapsible="false" >
             <!--INVOICEIT-666, created fieldset for Payment plan installment object, Added by DL -->
              <apex:pageBlock >
                  <table cellspacing="0" cellpadding="0" border="0" class="list">
                      <thead class="rich-table-thead">
                            <tr class="headerRow"> 
                              <th colspan="1" scope="col" class="headerRow">
                                <div>
                                </div>
                              </th>
                             <apex:repeat value="{!$ObjectType.invoiceit_s__Payment_Plan_Installment__c.FieldSets.invoiceit_s__Payment_Allocation_Wizard_Fields}" var="fieldAPI">
                                <th colspan="1" scope="col" class="headerRow">
                                    <div>
                                        {!HTMLENCODE(fieldAPI.Label)}
                                    </div>
                                </th> 
                             </apex:repeat>
                             <td>Payment Amount</td>
                           </tr>
                      </thead>
                      <tbody>
                          <apex:repeat value="{!map_Counter_ppiallocationClass}" var="counter1" id="allocationSection3" rendered="{!isPPInstallmentExists}">
                              <tr>
                                <td colspan="1" class="dataCell">
                                    <apex:inputCheckbox value="{!map_Counter_ppiallocationClass[counter1].isChecked1}" disabled="{!map_Counter_ppiallocationClass[counter1].isVisible1}"  />
                                </td>
                                <apex:repeat value="{!$ObjectType.invoiceit_s__Payment_Plan_Installment__c.FieldSets.invoiceit_s__Payment_Allocation_Wizard_Fields}" var="fieldAPI">
                                  <td colspan="1" class="dataCell">
                                      <apex:outputLink value="/{!map_Counter_ppiallocationClass[counter1].paymentPlanInstallment.id}" id="theLink" rendered="{!fieldAPI == 'Name'}">{!map_Counter_ppiallocationClass[counter1].paymentPlanInstallment.Name}</apex:outputLink>  
                                      <apex:outputField value="{!map_Counter_ppiallocationClass[counter1].paymentPlanInstallment[fieldAPI]}" rendered="{!fieldAPI != 'Name'}"/> 
                                  </td>
                                </apex:repeat>
                                <td>
                                  <apex:outputField value="{!map_Counter_ppiallocationClass[counter1].ppIpaymentAllocation.Amount__c}" />
                                </td>
                              </tr>  
                          </apex:repeat>
                      </tbody>
                  </table>
              </apex:pageBlock>
            
            </apex:pageBlockSection> 
          </apex:pageBlock>
          </apex:form>  
      </apex:page>