<apex:page standardController="Account" extensions="invoiceit_s.ControllerForGenerateTokenForCyberSource" sidebar="false">
       <apex:sectionHeader title="Customer Management" subtitle="Generate Token" />
        <apex:form >
            <apex:pageblock >
            <apex:pageMessages />
                <apex:pageblocksection collapsible="false" title="Please enter your card information to create token" columns="1" rendered="{!isRender}">
                     <apex:inputField value="{!paymentMethod.invoiceit_s__Billing_First_Name__c}" required="true"/>
                     <apex:inputField value="{!paymentMethod.invoiceit_s__Billing_Last_Name__c}" required="true"/>
                     <apex:inputField value="{!paymentMethod.Billing_Address__c }" required="true"/>
                     <apex:inputField value="{!paymentMethod.invoiceit_s__Billing_City__c}" required="true"/> 
                     <apex:inputField value="{!paymentMethod.invoiceit_s__Billing_State_Province__c}" required="true"/> 
                     <apex:inputField value="{!paymentMethod.invoiceit_s__Billing_Zip_Postal__c}" required="true"/>
                     <apex:inputField value="{!paymentMethod.invoiceit_s__Billing_Country__c}" required="true"/>
                     <apex:inputField value="{!paymentMethod.invoiceit_s__Billing_Email__c}" required="true"/>
                     <apex:inputField value="{!paymentMethod.invoiceit_s__Name_on_Card__c}" required="true"/>
                     <apex:inputField value="{!paymentMethod.invoiceit_s__Card_Type__c}" required="true"/>
                     <apex:inputField value="{!paymentMethod.invoiceit_s__Card_Number__c}" required="true"/>  
                   <apex:inputField value="{!paymentMethod.invoiceit_s__Card_Expiration_Month__c}" required="true"/> 
                   <apex:inputField value="{!paymentMethod.invoiceit_s__Card_Expiration_Year__c}" required="true"/> 
                </apex:pageblocksection>
                <apex:pageblockbuttons location="Bottom">
                    <apex:commandbutton value="Generate Token" action="{!generateToken}" rendered="{!isRender}"/>
                    <apex:commandbutton value="Cancel" action="{!Cancel}" />
                </apex:pageblockbuttons>
            </apex:pageblock>
        </apex:form>

    </apex:page>