<apex:page standardController="invoiceit_s__Product_Bundle__c" extensions="invoiceit_s.ControllerProductBundle">
<apex:includeScript value="{!URLFOR($Resource.invoiceit_s__jQuery, '/js/jquery-1.5.1.min.js')}"  />
<apex:includeScript value="{!URLFOR($Resource.invoiceit_s__jQuery, '/js/jquery-ui-1.8.14.custom.min.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.invoiceit_s__jQuery, '/css/smoothness/jquery-ui-1.8.14.custom.css')}"/>
<script>
  $j = jQuery.noConflict();
  $j(document).ready(function() {
      $j("#dialog").dialog({  autoOpen: false, modal: true, position: 'center', width: 190, 
                            height:70, dialogClass: "ui-dialog-no-titlebar ui-dialog-no-padding", resizable: true});
  });
  //Function to show the modal dialog for jquery
  function showDialog(){
    $j("#dialog").dialog("open");
    $j('#dialog').dialog('option', 'position', 'center');
    return false;
  }
  //Function to hide the modal dialog for jquery
  function closeDialog(){
    $j("#dialog").dialog("close");
    return false;
  }       
</script>
    
<apex:form >
  <apex:actionStatus id="status" onstart="return showDialog()" onstop="return closeDialog()" />
  <apex:sectionHeader title="Product Bundle" subtitle="Step 1 of 2"/>
  <apex:pageBlock title="Product Bundle" id="pb" >
    <apex:pageMessages id="messege"></apex:pageMessages>         
    <apex:actionFunction name="onChangeType" action="{!onChangeType}" rerender="tpb,messege" status="status" />
     
    <apex:pageBlockSection columns="2" id="tpb">
      <apex:repeat value="{!$ObjectType.invoiceit_s__Product_Bundle__c.FieldSets.invoiceit_s__ProductBundleStep1}" var="fieldAPI">
        <apex:inputField value="{!productBundle[fieldAPI]}"  />
      </apex:repeat> 
      <apex:inputField value="{!productBundle.invoiceit_s__Currency__c}" rendered="{!!isEditMode}" required="true"    /><apex:outputField value="{!productBundle.invoiceit_s__Currency__c}" rendered="{!isEditMode}" />
      <apex:inputField value="{!productBundle.Bundle_Type__c }" onchange="onChangeType()" rendered="{!!isEditMode}" required="true"   /> 
      <apex:inputField value="{!productBundle.invoiceit_s__Bundle_Price__c}" rendered="{!isTypeSelected}" required="{!IF(productBundle.invoiceit_s__Bundle_Type__c == 'Bundle',false, true)}"/>  
      <apex:inputField value="{!productBundle.invoiceit_s__Is_Price_Editable__c}" rendered="{!isTypeSelected}"/>
      <apex:inputField value="{!productBundle.invoiceit_s__Quantity__c}" rendered="{!isTypeSelected}" required="{!IF(productBundle.invoiceit_s__Bundle_Type__c == 'Bundle', false, true)}"/>                          
      <apex:inputField value="{!productBundle.invoiceit_s__Is_Quantity_Editable__c}" rendered="{!isTypeSelected}"/>
      <apex:inputField value="{!productBundle.invoiceit_s__Price_Type__c}" rendered="{!isTypeSelected}" required="{!IF(productBundle.invoiceit_s__Bundle_Type__c == 'Bundle', false, true)}"/> 
      <apex:inputField value="{!productBundle.invoiceit_s__Pricing_Model__c}" rendered="{!isTypeSelected}" required="{!IF(productBundle.invoiceit_s__Bundle_Type__c == 'Bundle', false, true)}" />   
                   
      <apex:inputField value="{!productBundle.invoiceit_s__Uplift__c}" rendered="{!isTypeSelected}"/>
      <apex:inputField value="{!productBundle.invoiceit_s__Uplift_Frequency__c}" rendered="{!isTypeSelected}"/>  
      <apex:inputField value="{!productBundle.invoiceit_s__Unit_Of_Measurement__c}" rendered="{!isTypeSelected}"/>  
      <apex:inputField value="{!productBundle.invoiceit_s__Product_Charge_Category__c}" rendered="{!isTypeSelected}"/> 
      <apex:inputField value="{!productBundle.invoiceit_s__Revenue_Recognition_Rule__c}" rendered="{!isTypeSelected}"/> 
    </apex:pageBlockSection>
      
    <apex:pageBlockButtons location="bottom">
      <apex:commandButton value="{!$Label.ButtonNext}" action="{!step2}"/>
      <apex:commandButton value="{!$Label.ButtonCancel}" action="{!cancel}"/>
    </apex:pageBlockButtons>
         
  </apex:pageBlock> 
      
  <!-- This div holds the image that is opened as a popup during processing -->
  <div id="dialog">
    <apex:image value="{!URLFOR($Resource.invoiceit_s__jQuery,'/css/smoothness/images/please_wait.gif')}"/>
  </div>
</apex:form>
</apex:page>