<apex:page standardController="invoiceit_s__Product_Bundle__c" extensions="invoiceit_s.ControllerProductBundle">
    <apex:includeScript value="{!URLFOR($Resource.invoiceit_s__jQuery, '/js/jquery-1.5.1.min.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.invoiceit_s__jQuery, '/js/jquery-ui-1.8.14.custom.min.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.invoiceit_s__jQuery, '/css/smoothness/jquery-ui-1.8.14.custom.css')}"/>
    <script>
      $j = jQuery.noConflict();
      $j(document).ready(function() {
          $j("#dialog").dialog({  autoOpen: false, modal: true, position: 'center', width: 190, 
                                height:70, dialogClass: "ui-dialog-no-titlebar ui-dialog-no-padding", resizable: true});
      });
      //Function to show the modal dialog for jquery
      function showDialog(){
          $j("#dialog").dialog("open");
          $j('#dialog').dialog('option', 'position', 'center');
          return false;
      }
      //Function to hide the modal dialog for jquery
      function closeDialog(){
          $j("#dialog").dialog("close");
          return false;
      }       
    </script>
    
    <apex:form id="form">
      <apex:pageMessages ></apex:pageMessages>
      <apex:pageBlock title="Product Bundle">
          <apex:pageBlockSection >
            {!$Label.startHere_Note}: This will clone the chosen Product Bundle. 
          </apex:pageBlockSection>
      </apex:pageBlock>
        
      <apex:commandButton action="{!step1}" value="{!$Label.ButtonStepWizard}" />
      <apex:commandButton action="{!save}" value="{!$Label.ButtonQuickSave}">
      </apex:commandButton>
      <apex:commandButton action="{!cancel}" value="{!$Label.ButtonCancel}"  styleClass="disablebutton"/>
    </apex:form>
  </apex:page>